<html>
  <head></head>
  <body style='background-color: green;'>
    <h1>Meme Green Machine!</h1>

    <form action="/habitatized" method="POST" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" value="Upload image">
    </form>
  </body>
</html>
