<html>
  <head></head>
  <body style='background-color: #F1F2F2;'>
    <h1 style="font-family: 'Muli', sans-serif; font-weight: 500; font-size: 3.1rem;">The Meme Machine!</h1>
    <form action="/packaged" method="POST" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" value="Upload image">
    </form>
  </body>
</html>
